@font-face {
    font-family: 'Ornaments';
    src: url('fonts/MortisedOrnaments.ttf') format('truetype');
}
@font-face {
    font-family: 'CoverFont';
    src: url('fonts/antique_book_cover.otf') format('opentype');
}
@font-face {
    font-family: 'EB Garamond';
    src: url('fonts/EbGaramondSmallcaps08Regular-v4R4.ttf');
    font-style: small-caps;
}
@font-face {
    font-family: 'EB Garamond';
    src: url('fonts/EbGaramond08Italic-7W1B.ttf');
    font-style: italic;
}
@font-face {
    font-family: 'EB Garamond';
    src: url('fonts/EbGaramond08Regular-2mWe.ttf');
}
@font-face {
    font-family: 'EB Garamond Initials';
    src: url('fonts/EbGaramondInitials-LeOE.ttf');
}

:root {
    --font:  'EB Garamond', arial;
    font: calc(10px + 1.75vw) var(--font);
    --color: black;
    --bgColor: hsl(33,100%,88%);
    --dark1: hsl(33,100%,83%);
    --dark2: hsl(33,100%,78%);
    color: var(--color);
    background-color: var(--bgColor);
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.page {
    padding: 3%;
    margin: 5% auto;
    border: 1px solid var(--color);
    max-width: 80%;
}

.frame1 {
    border: none;
    width: min(70%, calc(50vh * 4/3));
    height: 50vh;
    margin: auto;
    padding: 6.65vh min(9.35%, 8.9vh);
    background-image: url('images/Frame\ 1.png');
    background-size: 100% 100%;
}

button {
    background-color: var(--dark1);
    margin: 1rem 0 0 70%;
    width: 4rem;
    font: small-caps .75rem var(--font);
}

.background {
    display: flex;
    position: relative;
    margin: auto;
    width: 80vw;
    height: 60vh;
    background: red;
}
.background:before {
    content: 's';
    position: absolute;
    margin: auto;
    font: 63vh 'Ornaments';
    background: rgba(0, 0, 255, .5);
    width: 100%;
    height: 100%;
    line-height: 100%;
    transform: scale(calc(80vh / 60vh), 1);
    z-index:1;
}

h1 {
    font: small-caps 2.5rem CoverFont;
}

b {
    font-weight: 600;
}

h2 {
    font: 500 small-caps 1.75rem var(--font);
}

h3 {
    font: 500 small-caps 1.3rem var(--font);
}

hr {
    border-top: 1px solid var(--color);
}

.ornament {
    font: 4rem Ornaments;
    margin: -3rem 0 -4rem 0;
}

li {
    border-bottom: 2px dotted var(--color);
    text-align: right;
    margin: 1rem 0;
    width: 35vw
}

a {
    color: var(--color);
    line-height: 1rem;
    font-weight: normal;
}

.contents-item {
    text-decoration: none;
}

.cover {
    margin-bottom: -1rem;
    display: flex;
    flex-flow: center;
    align-items: baseline;
    justify-content: center;
    font-size: min(2.5rem, 180%);
}
.cover:before {
    font: min(4rem, 150%) Ornaments;
    content: "H";
}
.cover:after {
    font: min(4rem, 150%) Ornaments;
    content: "E";
}

.projects-title {
    margin-bottom: -1rem;
}
.projects-title:before {
    font: 3rem Ornaments;
    content: "P";
}
.projects-title:after {
    font: 3rem Ornaments;
    content: "Q";
}

.small {
    font-size: 1rem;
}
.small:before {
    content: "— ";
    font: lighter 1rem Arial
}
.small:after {
    content: " —";
    font: lighter 1rem Arial
}


::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px var(--dark1); 
    background: var(--dark2);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--dark1);
    border: 1px solid black;
  }
  ::-webkit-scrollbar-corner{
    background: var(--dark1);
  }

  
td {
    vertical-align: top;
    padding: .5rem;
    text-align: start;
    line-height: 1.05rem;
}
td:first-of-type {
    font-style: italic;
    font-weight: 600;
}

#CV {
    min-width: 20rem;
}

#CV ul {
    list-style-type: '- ';
    padding: 0 1rem;
}

#CV li {
    border-bottom: none;
    text-align: left;
    margin: 1rem 0;
    width: auto
}

p {
    text-align: start;
}

.fancy:first-letter {
    font: 1.75rem 'EB Garamond Initials';
}

::selection {
    background: var(--dark2);
}
::-moz-selection { /* Code for Firefox */
    background: var(--dark2);
}