@font-face {
    font-family: 'LinuxLibertine';
    src: url('LinLibertine_R.ttf') format('truetype');
}

@font-face {
    font-family: 'LinuxLibertineB';
    src: url('LinLibertine_aS.ttf') format('truetype');
}

html {
    width: 100%;
}

body {
    padding: 8%;
    font: 16px LinuxLibertine, Arial, sans-serif;
    --color: black;
    --bgColor: white;
    color: var(--color);
    background-color: var(--bgColor);
}

h1 {
    text-align: center;
    font: bold 2.25rem LinuxLibertineB, Arial, sans-serif;
}

h2 {
    font: bold 1.5rem LinuxLibertine, Arial, sans-serif;
    font-weight: 800;
}

a {
    color: darkred
}

td {
    vertical-align: top;
    padding: .5rem;
}

ul {
    list-style-type: '- ';
    margin: 0;
    padding: 0 1rem;
}

td:first-of-type {
    font-weight: bold;
}

.print-hidden-button {
    margin-left: 80%;
    margin-right: 0;
}

@media print {
    .print-hidden-button {
      display: none;
  }
}