@font-face {
  font-family: 'FuturamaFont';
  src: url('https://rawcdn.githack.com/PatoLubricado/fccfiles/main/fr-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Alienese';
  src: url(fr-fal1.ttf) format('truetype');
}

:root {
  --electricMucus: #66c88f;
  --EMDark: #4cb16f;
  --Red: #ca0b1b;
  --RedDark: #aa0000;
  --NavHeight: min(calc(60px + 6vh), 15vh);
  --corners: .5rem;
  --cornersSmall: .15rem;
  --fontFamily: 'Arvo', sans-serif;
  --font: calc(1vw + 2vh) var(--fontFamily);
  --Width: 75vw;
  --border: .15rem solid darkgreen;
  font: var(--font);
  background-color: var(--electricMucus);
  color: var(--RedDark);
}


html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding-top: calc(var(--NavHeight)*1.25);
}

h1 {
  width: 100%;
  margin: 2rem auto;
  text-align: center;
}

p {
  margin: 2rem auto;
  width: var(--Width);
  max-width: 100vh
}

img {
  display: block;
  object-fit: cover;
  margin: 2rem auto;
  --max-height: 75vh;
  width: var(--Width);
  height: min(var(--max-height), calc(var(--Width) * 3/4));
  max-width: min(var(--Width), calc(var(--max-height) * 4/3));
}

#slogan {
  margin: 5vh auto;
  font: bold italic 2rem 'Parisienne', serif;
  text-align: center;
}

#video {
  margin: auto;
  display: block;
  aspect-ratio: 4 / 3;
  width: var(--Width);
  --max-height: 75vh;
  max-width: calc(var(--max-height) * 4/3);
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: auto;
  max-height: 30vh ;
  padding: .2rem;
  background-color: var(--EMDark);
  border-bottom: var(--border);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#header-img {
  height: var(--NavHeight);
  width: auto;
  margin: 0 .3rem;
}

a {
  color: var(--Red);
}


.nav-link {
  color: var(--Red);
  font: bold var(--font);
  background-color: var(--electricMucus);
  border-radius: var(--corners);
  border: var(--border);
  margin: .3rem;
  padding: 0;
  width: 5rem;
  height: 3.5rem;
  text-align: center;
  text-justify: center;
}

#lang {
  margin: auto 2rem auto auto;
  background-color: var(--electricMucus);
}

form {
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

fieldset {
  padding: 0 2rem 2rem;
  margin-bottom: 5vh;
  border: 3px solid var(--EMDark);
  border-radius: var(--corners);
  min-width: min(18rem, 80%);
  max-width: min(80vh, 100%);
}
#deltype {
  min-width: min(8rem, 80%);
}
#parcelinfo {
  min-width: min(10rem, 80%);
}

legend {
  padding: 0 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

label {
  display: block;
  margin: 0rem 0;
}

input, select {
  margin: 10px 0 0 0;
  padding: .2rem;
  background-color: var(--EMDark);
  border: 0;
  color: var(--Red);
  border-radius: var(--cornersSmall);
  font: var(--font);
}
input::placeholder {
  color: darkgreen;
}
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1rem auto;
  height: 2rem;
  font-size: 1.1rem;
  background-color: var(--EMDark);
  border-radius: var(--corners);
  border: var(--border);
}

.title {
  margin: 2rem 0 1rem 1rem;
  font-size: 1.2rem;
}
.title:first-of-type {
  margin: 0 1rem 
}

.textinput {
  display: block;
  margin: .5rem auto;
  width: 90%;
  border: 0;
  padding: .2rem;
}

.inline {
  width: 3.5rem;
  margin: 0 0.5rem 0 0;
  vertical-align: middle;
}

.inline, #selected-text {
 display: inline
}

blockquote {
  width: calc(var(--Width) - 6rem);
  max-width: calc(100vh - 6rem);
  font-size: 0.8rem;
  padding: 3rem;
  margin: 1rem auto;
  border-left: 4px solid var(--EMDark);
  }

address {
  padding: 2rem;
  margin-top: 3rem;
  background-color: var(--EMDark);
  border-top: var(--border);
}

::selection {
  color: var(--EMDark);
  background: var(--Red);
}

@media screen and (max-width:46rem) {
  .nav-link {
    min-width: 3.5rem;
    font-size: 1rem;
    margin: 0.1rem;
  }
}



::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px darkgreen; 
  background: var(--EMDark);
}
::-webkit-scrollbar-thumb {
  background: var(--EMDark);
  border: var(--border);
  border-radius: var(--corners)
}